@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins",serif;
    box-sizing: border-box;
    font-size: large;
}
body{
    background: url(photos\ cover/PHOTO\ COVER\ 7.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
.wrapper{
    min-height: 1000px;
    background: rgba(39, 39, 39, 0.5);
}
.A{
    backdrop-filter:blur(10px);
    border: solid 1px white;
    border-radius: 10px;
    width:570px;
    height:auto;
    position:relative;
    top:40px;
}
.A .A1{
    text-align: center;
    font-size: small;
    color:white;
    padding: 20px 0;
    position: relative;
    top: 20px;
}
.A a{
    color:white;
    font-size:larger;
    text-decoration: none;
    text-decoration: underline;
}
.A a:hover{
    color:white;
}
.A header{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 50px 0 20px 0;
}
.formulaire #B {
    display: flex;
}
.formulaire{
    transition: .5s ease-in-out;
}
#A2{
   position: relative;
   top:40px
}
#A3{
    position:relative;
    top:40px;
    padding-left:60px
}
.formulaire input{
    background-color: rgba(255, 255 ,255 ,0.1);
    border-bottom: white 2px solid;
    border-top: none;
    border-left:none;
    border-right: none;
    height: 50px;
    color:white;
    outline: none;
    transition: .2s ease;
}
.formulaire input:focus,.formulaire input:hover{
    background-color: rgba(255, 255 ,255 ,0.3);
}
.formulaire .input1{
    padding:10px;
    width: 240px; 
    margin:0 20px ;
    position: relative;
    left: 20px;
    padding:0 50px;
    margin: 0 ;
}
#INPUT2{
    flex-wrap: wrap;
    position: relative;
    left: 50px;
}
::-webkit-input-placeholder{
    color: white;
}
.formulaire .input2{
    height: 50px;
    width: 530px;
    padding-left:50px ;
    margin:5px 20px;
}
.formulaire i{
    position: relative;
    left:40px;
    top:45px;
}
.Prenom i{
    left: 10px;
}

#INPUT6{
    background-color: rgba(255, 255, 255, 0.865);
    color:black;
    margin: 30px;
    margin-top: 0;
    width: 510px;
    transition: .3s ease-in-out;
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.input2{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.1);
    border:none
}
#INPUT6:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.formulaire .input4{
    margin-left: 20px;
    position: relative;
    top: -10px;
}
.formulaire label{
    color: white;
    margin-left:10px;
    position:relative;
    top:-20px
}
.P label{
    position: relative;
    top: -27px;
    font-size: small;
}

@media screen and (max-width: 600px) {
    Body {
        width: 80%;
        height: 500px;
        left: 60px;
        top: 60px;
    }
    .A{
        width:500px;
    }
    .formulaire #B{
        flex-direction: column;
        gap: 0;
    }

    #INPUT1,#INPUT2{
        width:470px;
        margin: 0 10px;
        left: 0;
    }
    .Nom #A2 {
        position: relative;
        top: 55px;
    }
    #INPUT1{
        top: 15px;
        left: 5px;
    }
    .formulaire #INPUT2{
        margin-top: 20px;
        position: relative;
        margin-left: 10px;
        left: 5px;
    }
    .formulaire .input2{
        position: relative;
        margin-top:0px;
    }
    .formulaire i{
        position: relative;
        top:45px;
        left: 30px;
    }
    #INPUT3,#INPUT4,#INPUT5,#INPUT6{
        margin:5px 15px;
        width: 470px;
    }
    #A2{
        top:45px
    }
    #A3{
        left:-30px;
        top:60px
    }

}